a {
	color: white;
	text-decoration: none;
}

body {
	background-color: white;
	width: 100%;
	margin: 0;
	padding: 0;
}

#Brian_Logo {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 25%;
}

nav {
	width: 90%;
	height: 3em;
	margin: auto;
}

nav ul {
	width: 100%;
	list-style: none;
}

nav ul li {
	background-color: #1b1645;
	border-radius: 15px;
	width: 15%;
	display: inline-block;
	text-align: center;

}

nav ul li a {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1.25em;
}

li:hover {
	background-color: #fa7f15;
}

.slideshow-container {
	
}